{% extends 'base.html.twig' %}

{% block title %}Nos produits - {{ parent() }}{% endblock %}

{% block body %}
<div class="events">
    <h1>Jeux, Bundles, Rétro-gaming</h1>
  
    <div class="row">
        {% for product in products %}
            <div class="col-12 col-lg-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ product.name }}</h2>
                        <p class="card-text">{{ product.description|slice(0, 120) }}</p>
                        <p class="card-text">Prix : {{ product.states.0.price }} €</p>
                        <p class="card-text">Quantité : {{ product.states.0.stock }}</p>
                        <p class="card-text">Etat : {{ product.states.0.state }}</p>
                        {% if product.photos is not empty %}
                            <img src="{{ product.photos[0].picture }}" alt="image1">
                        {% endif %}
                    </div>
                        <a href="{{ path( 'product_show', {id: product.id} ) }}" class="btn btn-primary">En savoir plus</a>
                        <a href="{{ path( 'cart_add', {id: product.id} ) }}" class="btn btn-primary">Ajouter au panier</a>
            </div>
    </div>
        {% endfor %}
</div>
    
    <div class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}" class="btn btn-outline-primary">Précédent</a>
        {% endif %}
        {% if page < maxPage %}
            <a href="?page={{ page + 1 }}" class="btn btn-outline-primary">Suivant</a>
        {% endif %}
    </div>
</div>
{% endblock %}