{% extends 'base.html.twig' %}

{% block title %}Nos produits - {{ parent() }}{% endblock %}

{% block body %}
<div class="events p-1">
<div class="btn-search">
<h3>Recherche par catégorie:</h3>
<form method="get"  action="{{path('product_list')}}">
<div class="form-check form-check-inline" >

{% for eachCategory in category %}
  <input name="filter" class="form-check-input m-1" type="checkbox" id="{{eachCategory.id}}" value="{{eachCategory.name}}">
  <label class="form-check-label" for="{{eachCategory.id}}">{{eachCategory.name}}</label>
{% endfor %}
<pre>
{{dump(filter)}}
</pre>
<button type="submit" class="btn btn-blue btn-lg"> filtrer les résultats</button>
</div>
</form>
<form metthod="get" class="col-lg-4">
<input type="range" class="form-control-range">
<label class="form-check-label" for="">Prix</label>

</form>
</div>

</br>
    <h1 class="text-center">Jeux, Bundles, Rétro-gaming</h1>
</br>

<div class="container">
    <div class="row">
    
        {% for product in products %}
        
            <div class="col-lg-4">

                <div class="card shadow mb-4">
                    {% if product.photos is not empty %}
                                <img style="height : 18rem" src="{{ asset("data/" ~ product.photos.0.picturePath ) }}" alt="image1">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">
                            {% if product.name|length < 23 %}
                                {{ product.name}}
                            {% else %}
                                {{ product.name|u.truncate(20, '...') }}
                            {% endif %}
                        </h3>
                        <div class="listInfos">
                            <p>A partir de {{product.lowestprice}}€</p>
                            <a href="{{ path( 'product_show', {id: product.id} ) }}" class="btn btn-light btn-outline-primary">Voir</a>
                            <a href="{{ path( 'cart_add', {id: product.states.0.id} ) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                            <a href="{{ path( 'wishlist', {id: product.id} ) }}" class="btn btn-success"><i class="fas fa-clipboard-list"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>

</div>
    
    <div class="pagination">
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}" class="btn btn-outline-primary">Précédent</a>
        {% endif %}
        {% if page < maxPage %}
            <a href="?page={{ page + 1 }}" class="btn btn-outline-primary">Suivant</a>
        {% endif %}
    </div>
</div>
{% endblock %}