{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<div class="searchDiv bg-blue">
    <a class="btn btn-outline-success my-2 my-sm-0 mb-3 btn-outline-search btnSearchColl" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="false" aria-controls="collapse">Recherche avancée</a>
    <div class="collapse" id="collapseSearch">
        {{form_start( form, {
                'attr': {
                    'class': 'container-fluid',
                    'novalidate': 'novalidate',
                }
            } )}}
            <div class="row firstSearch">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mr-3 btn-outline-search">Fitrer</button>
                {{form_row(form.q, {'attr': { 'class': 'form-control  mr-3' }})}}
                {{form_row(form.min, {'attr': { 'class': 'form-control  mr-3' }})}}
                {{form_row(form.max, {'attr': { 'class': 'form-control  mr-3' }})}}
            </div>
            <div id="catFilterDiv">
                {{form_row(form.categories, {'attr': { 'class': 'row form-check' }})}}
            </div>
        {{form_end(form)}}
    </div>
</div>
<div class="events p-1">
    
<div class="container pt-4">
    <h3 class="bottomSep">{{researchcount}} produits</h3>
    <div class="row">
        
        {% for product in products %}
        
            <div class="col-lg-4">

                <div class="card shadow mb-4">
                    {% if product.photos is not empty %}
                                <img style="height : 18rem" src="{{ asset("data/" ~ product.photos.0.picturePath ) }}" alt="image1">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">
                            {% if product.name|length < 23 %}
                                {{ product.name}}
                            {% else %}
                                {{ product.name|u.truncate(20, '...') }}
                            {% endif %}
                        </h3>
                        <div class="listInfos">
                            <p>A partir de {{product.lowestprice}}€</p>
                            <a href="{{ path( 'product_show', {id: product.id} ) }}" class="btn btn-light btn-outline-primary">Voir</a>
                            <a href="{{ path( 'cart_add', {id: product.states.0.id} ) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                
                {% if user is not same as(null) %}
                            
                            <a href="{{ path( 'wishlist', {id: product.id} ) }}" class="btn btn-success"><i class="fas fa-clipboard-list"></i></a>
                
                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
    <div class="paginate">
        {% if page > 1 %}
            <a href="{{ (parameters == "") ? "?" : parameters ~ "&" }}page={{ page - 1 }}" class="btn btn-outline-primary d-inline-block m-2">Précédent</a>
        {% endif %}
        {% if page < maxPage %}
            <a href="{{ (parameters == "") ? "?" : parameters ~ "&" }}page={{ page + 1 }}" class="btn btn-outline-primary d-inline-block m-2">Suivant</a>
        {% endif %}
    </div>   
</div>
 

{% endblock %}