{% extends 'base.html.twig' %}

{% block title %}Nos produits - {{ parent() }}{% endblock %}

{% block body %}
<div class="events p-1">
<div class="btn-search">
<h3>Recherche par catégorie:</h3>
{{form_start( form, {
        'attr': {
            'class': 'container-fluid',
            'novalidate': 'novalidate',
        }
    } )}}
{{form_row(form.q)}}
{{form_row(form.categories)}}
{{form_row(form.min)}}
{{form_row(form.max)}}
<button type="submit">Fitrer</button>
{{form_end(form)}}

</div>

</br>
    <h1 class="text-center">Jeux, Bundles, Rétro-gaming</h1>
</br>

<div class="container">
    <div class="row">
    
        {% for product in products %}
        
            <div class="col-lg-4">

                <div class="card shadow mb-4">
                    {% if product.photos is not empty %}
                                <img style="height : 18rem" src="{{ asset("data/" ~ product.photos.0.picturePath ) }}" alt="image1">
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title">
                            {% if product.name|length < 23 %}
                                {{ product.name}}
                            {% else %}
                                {{ product.name|u.truncate(20, '...') }}
                            {% endif %}
                        </h3>
                        <div class="listInfos">
                            <p>A partir de {{product.lowestprice}}€</p>
                            <a href="{{ path( 'product_show', {id: product.id} ) }}" class="btn btn-light btn-outline-primary">Voir</a>
                            <a href="{{ path( 'cart_add', {id: product.states.0.id} ) }}" class="btn btn-primary"><i class="fas fa-cart-plus"></i></a>
                
                {% if user is not same as(null) %}
                            
                            <a href="{{ path( 'wishlist', {id: product.id} ) }}" class="btn btn-success"><i class="fas fa-clipboard-list"></i></a>
                
                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>

</div>
    
    
</div>
{% endblock %}