{% extends 'base.html.twig' %}

{% block title %}Détail de : {{ product.name }}  {{ parent() }}{% endblock %}

{% block body %}
   
<div class="container">
</br>
        <h1 class="text-center">{{ product.name }}</h1>
</br>
    <div class="head d-flex">
        <div class="img">
                {% if product.photos is not empty %}
                        <img src="{{ product.photos[0].picture }}" alt="image1">
                {% endif %}
        </div>
    
        <div class="description">
                        <p>{{ product.description }}</p>
                        <hr>
                        <h3>{{ product.states.0.price }} €</h3>
                        <h4>Quantité : {{ product.states.0.stock }}</h4>
                        <h4>Etat : {{ product.states.0.state }}</h4>
        </div>
    </div>
     
    <div class="foot text-center mb-3">
                        <a href="{{ path( 'cart_add', {id: product.id} ) }}" class="btn btn-primary">Ajouter au panier</a>
                        <a href="{{ path( 'wishlist', {id: product.id} ) }}" class="btn btn-success">Ajouter à ma liste d'envies</a>
    </div>
</div>
        
{% endblock %}