{% extends 'base.html.twig' %}

{% block title %}WIG - {{ product.name }}{% endblock %}

{% block body %}

<div id="productDiv">
        <div class="w-100 productGeneric">
                <div class="productInfo">
                        <h1>{{ product.name }}</h1>

                        <div class="mainInfos">
                        
                                <p>
                                        {% if 'Jeux' in product.categories and data.results.released is defined %}
                                                <span>Sortie : {{data.results.released|date("d/m/Y")}}</span><br>
                                        {% endif %}
                                        {{ product.description }}
                                </p>
                                <div>
                                <!--  IF IS A GAME -->
                                {% if 'Jeux' in product.categories %}
                                        <div class="esrbDiv">
                                                {% if data.results.esrb_rating.name is not defined %}
                                                        <h5>Indisponible</h5>
                                                        <img class="esrbImage" src="{{ asset('build/img/esrb_rating_pending.jpg') }}" alt="Rating Not Set">
                                                {% elseif data.results.esrb_rating.name == "Teen" %}
                                                        <h5>{{data.results.esrb_rating.name}}</h5>
                                                        <img class="esrbImage" src="{{ asset('build/img/esrb_teen.jpg') }}" alt="Rating Not Set">
                                                {% elseif data.results.esrb_rating.name == "Everyone 10+" %}
                                                        <h5>{{data.results.esrb_rating.name}}</h5>
                                                        <img class="esrbImage" src="{{ asset('build/img/esrb_e_ten.jpg') }}" alt="Rating Not Set">
                                                {% elseif data.results.esrb_rating.name == "Mature" %}
                                                        <h5>{{data.results.esrb_rating.name}}</h5>
                                                        <img class="esrbImage" src="{{ asset('build/img/esrb_mature.jpg') }}" alt="Rating Not Set">
                                                {% elseif data.results.esrb_rating.name == "Adults Only" %}
                                                        <h5>{{data.results.esrb_rating.name}}</h5>
                                                        <img class="esrbImage" src="{{ asset('build/img/esrb_adults.jpg') }}" alt="Rating Not Set">
                                                {% endif %}
                                        </div>
                                        <div class="metacriticDiv">
                                                <h3>Metacritic</h3>
                                                {% if data.results.metacritic is not empty %}
                                                {% if data.results.metacritic >= 75 %}
                                                <div class="metascore meta-low"><span>{{ data.results.metacritic }}</span></div>
                                                {% elseif data.results.metacritic < 75 and data.results.metacritic >= 50 %}
                                                <div class="metascore meta-medium"><span>{{ data.results.metacritic }}</span></div>
                                                {% elseif data.results.metacritic < 50 %}
                                                <div class="metascore meta-high"><span>{{ data.results.metacritic }}</span></div>
                                                {% endif %}
                                                {% else %}
                                                <div class="metascore meta-na"><span>NA</span></div>
                                                {% endif %}
                                        </div>
                                {% endif %}
                                <!--  END IF IS A GAME -->
                                <!-- IF IS A CONSOLE -->
                                        
                                <!--  END IF IS A CONSOLE -->
                                </div>
                        </div>
                        
                        
                        
                        
                </div>

                <div id="carouselExampleControls" class="carousel slide carousselProduct" data-ride="carousel">
                        <div class="carousel-inner">
                                {% if product.photos is not empty %}
                                        {% for photo in photos %}
                                                {% if loop.first %}
                                                        <div class="carousel-item active">
                                                                <img src="{{ asset("data/" ~ photo.picturePath ) }}" class="d-block w-100 " alt="Image du produit">
                                                        </div>
                                                {% else %}
                                                        <div class="carousel-item">
                                                                <img src="{{ asset("data/" ~ photo.picturePath ) }}" class="d-block w-100" alt="Image du produit">
                                                        </div>
                                                {% endif %}
                                        {% endfor %}
                                        <!-- IF IS A GAME -->
                                        {% if 'Jeux' in product.categories %}
                                                {% if screenshots.results.results is not empty %}
                                                        {% for screen in screenshots.results.results %}
                                                                <div class="carousel-item">
                                                                        <img src="{{ screen.image }}" class="d-block w-100" alt="Screenshot du jeu">
                                                                </div>
                                                        {% endfor %}
                                                {% endif %}
                                        {% endif %}
                                        <!--  END IF IS A GAME -->
                                {% endif %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                        </a>
                </div>
        </div>
        <section id="buySection">
                <h3>Nos offres</h3>
                {% for offer in product.states %}
                <div>
                        <div class="buyInfoDiv">
                                <h6>Prix</h6>
                                <p>{{ offer.price }} €</p>
                        </div>
                        <div class="buyInfoDiv">
                                <h6>Etat :</h6>
                                <p>{{ offer.state }}</p>
                        </div>
                        <div class="buyInfoDiv">
                                <h6>Stocks : </h6>
                                <p>
                                        {% if offer.stock != 0 %}
                                                {{ offer.stock }}
                                        {% else %}
                                                Epuisé
                                        {% endif %}
                                </p>
                        </div>
                        {% if offer.stock != 0 %}
                        <a href="{{ path( 'cart_add', {id: offer.id} ) }}" class="btn btn-primary">Ajouter au panier</a>
                        {% else %}
                                <div class="noStock">Epuisé</div>
                        {% endif %}
                </div>
                {% endfor %}
        </section>
        {% if 'Jeux' in product.categories and data.results.released is defined %}
        <section class="infoCatSection">
                <h3>Informations</h3>
                
                <div class="infoCatDiv">
                        <!--  IF IS A GAME -->
                        
                                {% if data.results.developers is not empty %}
                                        <div class="infoCat">
                                                <h4>Développeur{% if data.results.developers|length > 1 %}s{% endif %}</h4>
                                                {% for dev in data.results.developers %}
                                                       <p>{{dev.name}}</p> 
                                                {% endfor %}
                                        </div>
                                {% endif %}
                                {% if data.results.publishers is not empty %}
                                        <div class="infoCat">
                                                <h4>Editeur{% if data.results.publishers|length > 1 %}s{% endif %}</h4>
                                                {% for edit in data.results.publishers %}
                                                       <p>{{edit.name}}</p> 
                                                {% endfor %}
                                        </div>
                                {% endif %}
                                {% if data.results.genres is not empty %}
                                        <div class="infoCat">
                                                <h4>Genre{% if data.results.genres|length > 1 %}s{% endif %}</h4>
                                                {% for genre in data.results.genres %}
                                                        <p>{{genre.name}}</p> 
                                                {% endfor %}
                                        </div>
                                {% endif %}
                                {% if data.results.tags is not empty %}
                                        <div class="infoCat">
                                                <h4>Tag{% if data.results.tags|length > 1 %}s{% endif %}</h4>
                                                {% for tag in data.results.tags %}
                                                <p>{{tag.name|capitalize}}</p> 
                                                {% endfor %}
                                        </div>
                                {% endif %}
                        
                        <!--  END IF IS A GAME -->
                </div>
        </section>
        {% endif %}
</div>
{% endblock %}