{% extends 'base.html.twig' %}

{% block title %}Votre interface utilisateur{{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    
    <div class="row-2 d-flex align-items-center justify-content-between cercles">
                <h2 class="card-title ml-2">Bonjour {{ user.username }}</h2>
                <h3 class="card-text">{{ user.email }}</h3>
                <h3 class="card-text">Points fidelités : {{ user.loyalty }}</h3>
                <img src="{{ user.avatar }}" alt="image1">
    </div>

        <div class="container d-flex justify-content-around cercles">
        
                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'user_modify', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="fab fa-wpforms"></i><br>Modifier mes informations</h4>
                                </a>   
                </div>

                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'password_modify', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="fas fa-key mr-2"></i><br>Modifier mon mot de passe</h4>
                                </a>   
                </div>
                
                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'email_modify', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="far fa-envelope mr-2"></i><br>Modifier mon adresse mail</h4>
                                </a>   
                </div>

                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'products_follow', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="fas fa-shipping-fast mr-2"></i><br>Historique des commandes</h4>
                                </a>   
                </div>

                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'wishlist_view', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="fas fa-star mr-2"></i><br>Ma liste d'envies</h4>
                                </a>   
                </div>
                
                <div class="rounded-circle bg-blue cercle text-center mb-1">
                                <a href="{{ path( 'address_list', {id: user.id} ) }}">
                                <h4 class="text-white"><br><i class="fas fa-address-book mr-2"></i></i><br>Gérer mes adresses</h4>
                                </a>   
                </div>
        </div>

</div>

{% endblock %}
