{% extends 'base.html.twig' %}

{% block title %}Votre commande - {{ parent() }}{% endblock %}

{% block body %}

</br>  
<h3 class="text-center">Commande {{ order.number }} </h3>

</br> 

<p class="pl-4 mb-4">Numéro de suivi : {{ order.trackingNumber ?? "Indisponible à ce jour."}}</p>

<div class="bottomSep"></div>

<table class="table mb-4">

<thead>
        <tr>
            <th>Produit(s)</th>
            <th>Etat</th>
            <th>Prix (à l'unité)</th>
            <th>Quantité</th>
            <th>Total Article</th>
        </tr>
</thead>

<tbody>
    {% for orderHasProduct in orderHasProducts %}
    <tr>
    <td><p>{{ orderHasProduct.stateProductId.product.name }}</p></td>
    <td><p>{{ orderHasProduct.stateProductId.state }}</p></td>
    <td><p>{{ orderHasProduct.stateProductId.price }}€</p></td>
    <td><p>{{ orderHasProduct.quantity }}</p></td>
    <td><p>{{ orderHasProduct.stateProductId.price * orderHasProduct.quantity }}€</p></td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <th colspan="3">Total</th>
    <th colspan="2">
        {% set total = 0 %}
        {% for orderHasProduct in orderHasProducts %}
        {% set total = total + (orderHasProduct.stateProductId.price * orderHasProduct.quantity) %}
        {% endfor %}
        {{total}}€
    </th>
</tfoot>

</table>
<div class="bottomSep"></div>
<div class="w-100 d-flex justify-content-between p-4 ">
    <h4 >
        {% set totalProd = 0 %}
        {% for orderHasProduct in orderHasProducts %}
        {% set totalProd = totalProd + orderHasProduct.quantity %}
        {% endfor %}
    Cette commande contient {{ totalProd }} produit(s)
</h4>
<h4 class="text-right">
    Statut :     
    {% if orderStatus == 0 %}
    Annulé
    {% elseif orderStatus == 1 %}
    En attente
    {% elseif orderStatus == 2 %}
    En préparation
    {% elseif orderStatus == 3 %}
    Livraison en cours
    {% elseif orderStatus == 4 %}
    Reçu
    {% endif %}
</h4>

</div>





    


{% endblock %}