{% extends 'base.html.twig' %}

{% block title %}Modifier vos infos personelles - {{ parent() }}{% endblock %}

{% block body %}
    
<h1 class="text-center">Modifier vos informations</h1>

 {{ form_start( form, {
        'attr': {
            'class': 'container-fluid my-2 ',
            'novalidate': 'novalidate',
        }
    } ) }}
        <div class="row">
            <div class="col-6 formRes">
                {{ form_row( form.username,{'attr': { 'class': 'form-control'}} ) }}
            
            
                {{ form_row( form.firstname,{'attr': { 'class': 'form-control'}} ) }}
                {{ form_row( form.lastname,{'attr': { 'class': 'form-control'}} ) }}
                {{ form_row( form.avatarFile,{'attr': { 'class': 'form-control'}} ) }}

            </div>
            <div class="d-flex justify-content-end col-6 formRes">
                <input type="hidden" name="_target_path" value="{{ path( 'user_interface' ) }}">
                <button type="submit" class="btn btn-primary btn-lg btnUpUpdate">Enregistrer les modifications</button>
            </div>
        </div>
     {{ form_end( form ) }}


{% endblock %}