{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<div class="row">


<div class="col-8">
<h4 class="text-uppercase">Bonjour: {{user.lastname}} {{user.firstname}}</h4>
 


    
<a href="/address/new" class="btn btn-blue btn-lg">Ajouter une adresse</a>
 
<!--liste des prodduit-->


<table class="table table-bordered">

 <h5>Récapitulatif de la commande:</h5>
  
  
  
  <thead>
    <tr>
    <td>Nom du produit:</td>
    <td>Prix</td>
    <td>Quantité du produit:</td>
    
    </tr>
    </thead>    
    
    <thbody>
    {% for cartWithData in cartWithData %}  
      <tr>
        <td>
        {{ cartWithData.product.name }} - {{ cartWithData.state.state }}
        </td>
        <td>
        {{ cartWithData.state.price }}€
        </td>
        <td>
        {{ cartWithData.quantity }}
        </td>
      </tr>
      {% endfor %}
      <th>
        Prix total TTC:
      </th>
      <th colspan="2">
        {{ total }}€
      </th>
      </thbody>  
</table>
</div>






<div class=" col-4 ">
<h4>Paiement:</h4>

    {{ form_start(form, {attr: {id: form.vars.id}}) }}
    <div class="form-group">
    {{ form_row(form.shippingAddress) }} 
    </div>
    <div class="form-group">
    {{ form_row(form.billingAddress) }}
    </div> 
    <div class="form-group">
      <label for="card-element">
        Credit or Debit Card
      </label>
      <div id="card-element" class="form-control"></div>
      <div id="card-errors" class="help-block" role="alert"></div>
    </div>
    {{ form_widget(form.paymentToken) }}
    {{ form_end(form) }}
</div>

</div>


<script>
  
</script>
{% endblock %}

